*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
html,body{
    width: 100%;
    height: 100%;
}
#main{
    width: 100%;
}
#home{
    width: 100%;
    height: 100vh;
}
#nav{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3vw;
}
#logo-container img{
    height: 50px;
}
#right-nav{
    display: flex;
    align-items: center;
    gap:20px;
}
#right-nav :nth-child(1){
    margin-right: 2vw;
}
#right-nav a{
    text-decoration: none;
    color: #000;
    font-size: 1.5vw;
}
#heading{
    width: 100%;
    padding: 15vw 15vw;
}
#heading h4{
    font-size: 1.4vw;
}
#heading h1{
    font-size: 7vw;
    line-height: 1;
    text-transform: capitalize;
    letter-spacing: -8px;
    color: transparent;
    -webkit-text-stroke: 1px #000;
}
#big-heading{
    display: flex;
    gap: 40px;
}
#para{
    padding: 0 15vw;
}
#para p{
    font-size: 1.5vw;
    font-weight: 400;
    width: 70%;
}
#para p::selection{
    color:#fff;
    background-color: #000;
}
#featured{
    padding: 10vw 15vw;

}
#featured h1{
    font-size: 4vw;
    font-weight: 400;
    line-height: 1;
}
#featured #f-heading h1:nth-child(2){
    color: transparent;
    -webkit-text-stroke: 1px #000;
}
#featured-image{
    width: 100%;
    min-height: 100vh;
    margin-top: 5vw;
    display: flex;
    justify-content: space-between;
}
#fleft{
    width: 45%;
    height: inherit;
    overflow: hidden;
}
.fleft-elem{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 100%;
}
.fleft-elem h3{
    font-weight: 400;
    font-size: 1.3vw;
}
.fleft-elem h4{
    opacity: .5;
}
#featured .fleft-elem h1{
    font-weight: 400;
    font-size: 2.5vw;
    line-height: 1;
    text-transform: capitalize;
    margin: 1.5vw 0;
}
#fright{
    width: 45%;
    min-height: inherit;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
#fright img{
    width: 90%;
    height: 90%;
    background-color: red;
}
.btndiv{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2vw;
}
.btndiv button{
    padding: 1vw 2vw;
    border-radius: 100px;
    border: 2px solid rgb(194, 191, 191);
    background-color: #fff;
    font-size: 1.2vw;
    font-weight: 500;
}
#dev{
    width: 100%;
    padding: 5vw 15vw;
}
#dev h1{
    /* text-transform: capitalize; */
    width: 40%;
    font-size: 3vw;
    font-weight: 500;
    margin: 2vw 0;
}
#dev h4{
    line-height: 1.5;
    width: 50%;
    font-weight: 600;
}
#slides{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 3vw 10vw;
}
.slide{
    width: 32%;
    /* background-color: red; */
}
.slide .img{
    width: 100%;
    height: 200px;
    background-color: #000;
}
.slide .tag{
    margin: 1vw 0;
    font-size: 1vw;
    font-weight: 500;
    background-color: #eeeded;
    width: fit-content;
    padding: 0.8vw 1vw;
    border-radius: 100px;
}
.slide h3{
    font-size: 1vw;
    width: 100%;
    font-weight: 600;
    line-height: 1.5;
}