*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}
#container{
    height: 60%;
    width: 60%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
}
#container h1{
    font-size: 5rem;
    cursor: pointer;
    font-family: monospace;
}
.imgDiv{
    position: absolute;
    height: 220px;
    width: 180px;
    overflow: hidden;
}
.imgDiv img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    transform: translateY(90%);
}

