*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
}
#container{
    height: 80vh;
    width: 340px;
    border: 2px solid wheat;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    color: #fff;
}
@media screen and (max-width: 480px) {
    #container{
        height: 80vh;
        width: 90%;
        border: 2px solid wheat;
        border-radius: 10px;
        position: relative;
        overflow: hidden;
        color: #fff;
    }
}
#story-container{
    height: 80px;
    border-bottom:1px solid wheat;
    padding: 10px;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}

#story-container::-webkit-scrollbar{
    display: none;
}

.story{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
    margin-right: 5px;
    border: 2px solid red;
    overflow: hidden;
}

.story img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}
#full-scrn{
    height: 100%;
    width: 100%;
    background-color: rebeccapurple;
    position: absolute;
    display: none;
    overflow: hidden;
}
#full-scrn img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}